<template>
<div class="ui-block-content">
			<!-- W-Personal-Info -->
		<ul class="widget w-personal-info">
			<li>
				<span class="title">About Me:</span>
				<span class="text">
					{{ user.about }}
				</span>
			</li>
			<li>
			    <span class="title">Skills:</span>
				<span class="text">{{ user.skills }}</span>
			</li>
			<li>
				<span class="title">School:</span>
				<span class="text">{{user.school.school}}</span>
			</li>
			<li>
				<span class="title">Birthday:</span>
				<span class="text">{{user.birthday | filterBirthday}}</span>
			</li>
			<li>
				<span class="title">Country:</span>
				<span class="text">{{user.country.country}}</span>
		    </li>
		</ul>
					
					<!-- ... end W-Personal-Info -->
					<!-- W-Socials -->
					
	<div class="widget w-socials">
		<h6 class="title">Other Social Networks:</h6>
		<a v-if="user.facebook_link != null" :href="'https://facebook.com/'+user.facebook_link" class="social-item bg-facebook">
		    <i class="fab fa-facebook-f" aria-hidden="true"></i>
		    Facebook
		</a>
		<a v-if="user.twitter_link != null" :href="'https://twitter.com/'+user.twitter_link" class="social-item bg-twitter">
			<i class="fab fa-twitter" aria-hidden="true"></i>
		    Twitter
		</a>
		<a v-if="user.instagram_link != null" :href="'https://instagram.com/'+user.instagram_link" class="social-item bg-instagram">
			<i class="fab fa-instagram" aria-hidden="true"></i>
			Instagram
		</a>
	</div>
					
	<!-- ... end W-Socials -->
</div>
</template>

<script>
export default {
  props: ['id'],
  name: 'PersonalInfoComponent',

  data() {
    return {
      user: null,
    };
  },
  created(){
  	axios.get('getUser/'+this.id).then(res=>{
  		this.user = res.data
  	}).catch(err=>{
  		console.log(err)
  	})
  },
  filters: {
  	filterBirthday: function(value){
  		return value.split(',')[1] + ' '+ value.split(',')[2];
  	}
  }
};
</script>

<style lang="css" scoped>
.bg-instagram{
	background-color: purple;
}
</style>
