<template>
	<div class="ui-block-content">
		<div class="row text-center">
			<div class="col col-lg-12 col-md-12 col-sm-12 col-12">		
				<!-- W-Personal-Info -->
				<p v-if="!posts.length">No posts yet</p>
				<ul class="widget w-personal-info item-block list-inline" v-for="post in posts">
			        <li class="list-inline-item">
		                <p>{{ post.body }}</p>
					    <div class="post-thumb">
					        <img v-if="post.image != null" v-for="img in post.image" :src="paths.image+img" alt="photo">
					        <audio v-if="post.audio != null" v-for="audio in post.audio" controls>
						        <source :src="paths.audio+audio" type="audio/*">
					        </audio>
					        <video v-if="post.video != null" v-for="video in post.video" controls>
						    <source :src="paths.video+video" type="video/*">
					        </video>
			            </div>
				    </li>
				<!-- ... end W-Personal-Info -->
				<comment-component :id="post.id"></comment-component>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
import CommentComponent from '../post/CommentComponent.vue'
export default {
  props: ['id'],
  name: 'UserPostsComponent',

  data() {
    return {
        posts: [],
        paths: {
 			image: 'storage/image/',
 			audio: 'storage/audio/',
 			video: 'storage/video',
 		},
    };
  },
  mounted(){
  	axios.get('getUserPosts/'+this.id).then(res=>{
  		this.posts = res.data.data
  		for(var i = 0; i < this.posts.length; i++){
           	if (this.posts[i].audio != null) {
           		this.posts[i].audio = this.posts[i].audio.split(',')
           	}
           	if (this.posts[i].video != null) {
           		this.posts[i].video = this.posts[i].video.split(',')
           	}
           	if (this.posts[i].image != null) {
           		this.posts[i].image = this.posts[i].image.split(',')
           	}
        }
  	}).catch(err=>{
  		console.log(err)
  	})
  },
  components: {
  	'comment-component': CommentComponent,
  }
};
</script>

<style lang="css" scoped>
</style>
