<template>
<div class="control-icon more has-items">
<svg class="olymp-thunder-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>

<div class="label-avatar bg-primary">8</div>

<div class="more-dropdown more-with-triangle triangle-top-center">
	<div class="ui-block-title ui-block-title-small">
		<h6 class="title">Notifications</h6>
		<a href="#">Mark all as read</a>
		<a href="#">Settings</a>
	</div>

	<div class="mCustomScrollbar" data-mcs-theme="dark">
		<ul class="notification-list">
			<li>
				<div class="author-thumb">
					<img src="olympus/img/avatar62-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<div><a href="#" class="h6 notification-friend">Mathilda Brinker</a> commented on your new <a href="#" class="notification-link">profile status</a>.</div>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
				</div>
					<span class="notification-icon">
						<svg class="olymp-comments-post-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
					</span>

				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
					<svg class="olymp-little-delete"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
				</div>
			</li>

			<li class="un-read">
				<div class="author-thumb">
					<img src="olympus/img/avatar63-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<div>You and <a href="#" class="h6 notification-friend">Nicholas Grissom</a> just became friends. Write on <a href="#" class="notification-link">his wall</a>.</div>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">9 hours ago</time></span>
				</div>
					<span class="notification-icon">
						<svg class="olymp-happy-face-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
					</span>

				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
					<svg class="olymp-little-delete"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
				</div>
			</li>

			<li class="with-comment-photo">
				<div class="author-thumb">
					<img src="olympus/img/avatar64-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<div><a href="#" class="h6 notification-friend">Sarah Hetfield</a> commented on your <a href="#" class="notification-link">photo</a>.</div>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 5:32am</time></span>
				</div>
					<span class="notification-icon">
						<svg class="olymp-comments-post-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
					</span>

				<div class="comment-photo">
					<img src="olympus/img/comment-photo1.jpg" alt="photo">
					<span>“She looks incredible in that outfit! We should see each...”</span>
				</div>

				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
					<svg class="olymp-little-delete"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
				</div>
			</li>

			<li>
				<div class="author-thumb">
					<img src="olympus/img/avatar65-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<div><a href="#" class="h6 notification-friend">Green Goo Rock</a> invited you to attend to his event Goo in <a href="#" class="notification-link">Gotham Bar</a>.</div>
					<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 5th at 6:43pm</time></span>
				</div>
					<span class="notification-icon">
						<svg class="olymp-happy-face-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
					</span>

				<div class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
					<svg class="olymp-little-delete"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
				</div>
			</li>
		</ul>
	</div>

	<a href="#" class="view-all bg-primary">View All Notifications</a>
</div>
</div>

</template>

<script>
export default {

  name: 'NotificationsComponent',

  data() {
    return {

    };
  },
};
</script>

<style lang="css" scoped>
</style>
