<template>
	<form class="search-bar w-search notification-list friend-requests">
			<div class="form-group with-button">
				<input class="form-control js-user-search" placeholder="Search here people or pages..." type="text">
				<button>
					<svg class="olymp-magnifying-glass-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
				</button>
			</div>
		</form>
</template>

<script>
export default {

  name: 'SearchComponent',

  data() {
    return {

    };
  },
};
</script>

<style lang="css" scoped>
</style>
