<template>
<div class="author-page author vcard inline-items more">
	<div class="author-thumb">
		<img alt="author" :src="user.photo" style="width: 50px" class="avatar">
		<div class="more-dropdown more-with-triangle">
			<div class="mCustomScrollbar" data-mcs-theme="dark">
				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">Your Account</h6>
				</div>

				<ul class="account-settings">
					<li>
						<a href="#">

							<svg class="olymp-menu-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>

							<span>Profile Settings</span>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="olymp-star-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"  data-original-title="FAV PAGE"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>

							<span>Create Community</span>
						</a>
					</li>
					<li>
						<a href="#" @click="logout">
							<svg class="olymp-logout-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>

							<span>Log Out</span>
							<form id="logout-form" action="logout" method="POST" style="display: none;">
								<input type="text" id="csrf" name="_token">
							</form>
						</a>
					</li>
				</ul>

				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">About CampusTalkative</h6>
				</div>

				<ul>
					<li>
						<a href="#">
							<span>Terms and Conditions</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>Contact Us</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>About Us</span>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
	<a href="#" class="author-name fn">
		<div class="author-title">
			{{ user.fullname }}
			<svg class="olymp-dropdown-arrow-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
		</div>
		<span class="author-subtitle">{{user.username}}</span>
	</a>
</div>
</template>

<script>
export default{
	data(){
       return {
       	 user:{
       	 	fullname: window.laravel.fullname,
       	 	username: window.laravel.username,
       	 	photo: window.laravel.user_photo,
       	 },
       	 csrf: window.laravel.csrf_token,
       };
	},
	methods: {
		logout: function(){
			$('form#logout-form').find('input#csrf').val(this.csrf)
			$('form#logout-form').submit()
		}
	}
};
</script>

<style>

</style>
