<template>
	<div class="control-icon more has-items">
		<svg class="olymp-happy-face-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
			<div class="label-avatar bg-blue">{{ users.length }}</div>

			<div class="more-dropdown more-with-triangle triangle-top-center">

				<div class="mCustomScrollbar" data-mcs-theme="dark" style="overflow: auto;">
					<ul v-if="users.length" class="notification-list friend-requests" v-for="(user,index) in users">
						<li>
							<div class="author-thumb">
								<img :src="user.profile_photo" alt="author">
							</div>
						    <div class="notification-event">
								<a href="#" class="h6 notification-friend">
								{{user.username}}
							    </a>
								<span v-if="user.school != null" class="chat-message-item">{{user.school.school}}</span>
							</div>
							<div class="" style="float: right">
								<button @click="postWatch(index)" ref="watchBtn" class="btn btn-sm btn-primary">Watch</button>
							</div>
							<div class="more">
								<svg class="olymp-three-dots-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
							</div>
						</li>
					</ul>
					<p v-if="!users.length">Unable to fetch data. Please Try again!</p>
				</div>

			<a :class="[{disabled: !users.length}]" @click.prevent="fetchSuggestions()" href="#" class="view-all bg-blue">Check all your Events</a>
		</div>
	</div>
</template>

<script>
export default {

  name: 'WatchUsersComponent',

  data () {
    return {
        users: [],
    }
  },
  created(){
  	this.fetchSuggestions()
  	},
  methods: {
		fetchSuggestions: function(){
			axios.get('getWatchersSuggestion').then(res=>{
	  		this.users = res.data
	  		this.$emit('watchCount', this.users.length)
				$(this.$refs.watchBtn).prop('disabled', false).html('watch');

			}).catch(err=>{
				//console.log(err)
			})
		},
  	postWatch: function(id){
		var index = id
		var btn = $(this.$refs.watchBtn[index])
		btn.prop('disabled', true).html('<i class="fas fa-spinner fa-pulse"></i>')
		axios.post('watch', {'watched': id}).then(res => {
			if (res.data = 'ok') {
				btn.html('<i class="fa fa-check"></i>')
			}
		}).catch(err=>{
			console.log(err)
		})
	}
  	}
};
</script>

<style lang="css" scoped>
</style>
