<template>
	<div id="toaster_wrapper">
		<div class="control-block-button">
            <!-- <a href="35-YourAccount-FriendsRequests.html" class="btn btn-control bg-blue">
			<svg class="olymp-happy-face-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
			</a> -->

			<a @click="sweetModal" href="#" class="btn btn-control bg-purple">
				<i class="fa fa-share"></i>
			</a>

<!-- 			<div class="btn btn-control bg-primary more">
				<svg class="olymp-settings-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>

				<ul class="more-dropdown more-with-triangle triangle-bottom-right">
					<li>
						<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Profile Photo</a>
					</li>
					<li>
						<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header Photo</a>
					</li>
					<li>
					    <a href="29-YourAccount-AccountSettings.html">Account Settings</a>
					</li>
				</ul>
			</div> -->
		</div>
		<div>
			<sweet-modal ref="modal">
		    <form class="comment-form inline-items" enctype="multipart/form-data">
		    	<em><h2>Select Post Category</h2></em>
		    	<ul class="list-inline">
		    		<li data-id="1" class="list-inline-item">General</li>
		    		<li data-id="2" class="list-inline-item">Video</li>
		    		<li data-id="3" class="list-inline-item">Audio</li>
		    		<li data-id="4" class="list-inline-item">Lyrics</li>
		    		<li data-id="5" class="list-inline-item">Academic</li>
		    		<li data-id="6" class="list-inline-item">ArtWork</li>
		    		<li data-id="7" class="list-inline-item">PhotoShop</li>
		    	</ul>
				<div class="post__author author vcard inline-items">
					<img :src="user_photo" alt="author">
					<div class="form-group with-icon-right ">
						<textarea class="form-control" placeholder="Share Something with your audience">
            </textarea>
						<div class="add-options-message">
							<a href="#" class="options-message" @click="clickUploadField">
								<svg class="olymp-camera-icon">
									<use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<input @change="updatePreview" type="file" name="media" id="postMedia" style="display: none;" accept="audio/*,video/*,image/*" />
				<hr>
        <br><br>
				<img class="thumbnail" v-for="(file, index) in media" v-if="is_image" :src="file" alt="" style="width: 100px; height: 70px; margin: 4.5px;" alt="image" @click="removePreview(index)">
        <video v-for="(file, index) in media" v-if="is_video" style="max-width: 50%; height: 60px; margin: 4.5px;" @click="removePreview(index)"  controls>
            <source :src="file" type="video/*">
              Your browser those not support the HTML video tag
        </video>
        <audio v-for="(file, index) in media" v-if="is_audio" @click="removePreview(index)"  controls>
            <source :src="file" type="audio/*">
                Your browser does not support the audio tag.
        </audio>
        <p v-if="spinner">
          <i class="fa fa-spinner fa-spin" style="font-size:36px;"></i>
        </p>
        <br><br>
        <p id="infotext" style="color: red;" v-if="info" class="lead"><em>click on file to remove</em></p>
        <div class="kkk">
				<button @click.prevent="post" class="btn btn-md-2 btn-primary">Share
					&nbsp;<span class="fa fa-share"></span></button>

          <button @click.prevent="resetComponent(true)" class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancel</button>
        </div>
			</form>
      <div id="overlay-div" style="display: none;">
        <div class="overlay"></div>
        <i id="spinner" class="fa fa-spinner fa-spin" style="font-size: 50px; color: white;"></i>
     </div>
     </sweet-modal>
    </div>
    </div>
</template>

<script>
    export default {
    	data(){
    		return {
    			category: null,
          attachments: [],
    			media: [],
          is_image: false,
          is_audio: false,
          is_video: false,
          info: false,
          spinner: false,
					user_photo: window.laravel.user_photo,
    		};
    	},
        mounted() {
        	var vue = this;
        	$('div.sweet-action-close').click(function(){
        		$('div#hideforsweetmodal').show();
        	})
            $('li').click(function(){
            	var tis = $(this)
            	var id = tis.data('id');
            	if(tis.hasClass('selected')){
                   tis.removeClass('selected');
                   vue.category = null
            	}else{
                $('li.selected').removeClass('selected')
            	   tis.addClass('selected');
            	   vue.category = id
            	}
            })
        },
        methods: {
        	sweetModal : function(){
        		$('div#hideforsweetmodal').hide();
        		this.$refs.modal.open();
        	},
          removePreview : function(index){
              this.media.splice(index, 1)
            if (!this.media.length) {
              this.info = false
            }
          },
          toaster: function(message, toast_class){
            Vue.toast(message, {
            id: 'my-toast',
            parent: '#app',
            className: [toast_class],
            horizontalPosition: 'center',
            verticalPosition: 'bottom',
            duration: 5000,
            mode: 'queue',
            transition: 'slide down'
           })
          },
        	post: function(){
            var text = $('textarea').val();
            if (this.category == null) {
              this.toaster('Please select at least one category','et-alert');
            }
            else if(text == ''){
              this.toaster('Text field cannot be empty!', 'et-alert')
            }else{
              $('div#overlay-div').show();
              var formdata = new FormData();
              for(var i = 0; i<this.attachments.length; i++){

                  formdata.append('files[]', this.attachments[i])
              }
                  formdata.append('body', text)
                  formdata.append('category_id', this.category)
                  formdata.append('post_type', 'user')

                  axios.post('post', formdata).then(response => {
                    if (response.data == "ok") {
                       this.toaster('Your post has been successfully saved', 'toast-class-success');
                       this.resetComponent(true);

                    }
                  }).catch(error => {
                    if (error == 'invalid file type!') {
                     this.toaster('Server Error: invalid file type', 'et-alert');
                    }else{
                      this.toaster('Server Error: please try again', 'et-alert');
                    }
                    this.resetComponent(false);
                  })

            }
        	},
          resetComponent: function(param){
            if (param) {
            this.category = null
            this.attachments = []
            this.media = []
            this.is_image = false
            this.is_audio = false
            this.is_video = false
            this.info = false
            $('textarea').val('');
            $('div#hideforsweetmodal').show();
            this.$refs.modal.close();
            }
             $('div#overlay-div').hide();
          },
        	clickUploadField: function(){
        		$('input#postMedia').click();
        	},
        	updatePreview: function(e){
          		var size, type, name, real_type, vue = this;
              vue.spinner = true
          		var reader, files = e.target.files
                vue.media = []
                vue.is_image = false
                vue.is_audio = false
                vue.is_video = false
                  for (var i = 0; i < files.length; i++) {
                  	name = files[i].name
                    type = files[i].type
                    real_type = type.split('/')
                    vue.attachments.push(files[i])
                  	reader = new FileReader();
                  reader.onload = (e) => {
                   var src = e.target.result
                    vue.info = true
                    vue.spinner = false
                   if(real_type[0] == 'image'){
                       vue.media.push(src)
                       vue.is_image = true
          			   }else if (real_type[0] == 'video') {
          			   	   vue.is_video = true
                       vue.media.push(src)
          			   }else if (real_type[0] == 'audio') {
                         vue.is_audio = true
                         vue.media.push(src)
                   }else{
                    vue.info = false
                    vue.toaster('please select a valid file type', 'et-alert')
                   }
          		    }
                  	reader.readAsDataURL(files[i])

                  }
        	}
        }
    };
</script>

<style scoped>
   .selected{
   	  background-color: #ff5e3a;
   	  font-weight: bold;
   	  color: #ffffff;
   	  border-radius: 4px;
   	  padding: 5px;
   }
   ul li{
   	 cursor: pointer;
   }
   .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff5e3a;
    opacity: 0.5;
   }
   #spinner{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%)
   }
   .toast-class-success{
      background-color: green;
   }
</style>
