<template>
  	<div class="tab-pane " id="loading" role="tabpanel">
      <ul class="notification-list">
        <li>
          <h4>
            Oops! This Feature is still under development!
             We will notify you once we are done
           </h4>
        </li>
      </ul>
    </div>
</template>

<script>
</script>

<style>
</style>
