<template>
<div class="tab-pane " id="search" role="tabpanel">


	<form class="search-bar w-search notification-list friend-requests">
		<div class="form-group with-button">
			<input class="form-control js-user-search" placeholder="Search here people or pages..." type="text">
		</div>
	</form>


</div>
</template>

<script>

</script>

<script>

</script>