<template>
	<div class="ui-block">
		<div class="ui-block-title">
			<h6 class="title">Blog Posts</h6>
		</div>
		<!-- W-Blog-Posts -->
		
		<ul class="widget w-blog-posts">
			<li>
				<article class="hentry post">
		
					<a href="#" class="h4">My Perfect Vacations in South America and Europe</a>
		
					<p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et.</p>
		
					<div class="post__date">
						<time class="published" datetime="2017-03-24T18:18">
							7 hours ago
						</time>
					</div>
		
				</article>
			</li>
		</ul>
		
		<!-- .. end W-Blog-Posts -->
	</div>
</template>

<script>

</script>

<style>
	
</style>