<template>
	
	<div class="ui-block">
		<div class="ui-block-title">
			<h6 class="title">Featured communities</h6>
		</div>

		<!-- W-Friend-Pages-Added -->
		
		<ul class="widget w-friend-pages-added notification-list friend-requests">
			<li class="inline-items">
				<div class="author-thumb">
					<img src="olympus/img/avatar42-sm.jpg" alt="author">
				</div>
				<div class="notification-event">
					<a href="#" class="h6 notification-friend">Tapronus Rock</a>
					<span class="chat-message-item">Rock Band</span>
				</div>
				<span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
					<a href="#">
						<svg class="olymp-star-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
					</a>
				</span>
		
			</li>
		</ul>
		
		<!-- .. end W-Friend-Pages-Added -->
	</div>

</template>

<script>
	
</script>

<style>
	
</style>