<template>
	
	<div class="ui-block">
		<div class="ui-block-title">
			<h6 class="title">Profile Intro</h6>
		</div>
		<div class="ui-block-content">

			<!-- W-Personal-Info -->
			
			<ul class="widget w-personal-info item-block">
				<li>
					<span class="title">About Me:</span>
					<span class="text">Hi, I’m James, I’m 36 and I work as a Digital Designer for the  “Daydreams” Agency in Pier 56.</span>
				</li>
				<li>
					<span class="title">Favourite TV Shows:</span>
					<span class="text">Breaking Good, RedDevil, People of Interest, The Running Dead, Found,  American Guy.</span>
				</li>
				<li>
					<span class="title">Favourite Music Bands / Artists:</span>
					<span class="text">Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a Revenge.</span>
				</li>
			</ul>
			
			<!-- .. end W-Personal-Info -->
			<!-- W-Socials -->
			
			<div class="widget w-socials">
				<h6 class="title">Other Social Networks:</h6>
				<a href="#" class="social-item bg-facebook">
					<i class="fab fa-facebook-f" aria-hidden="true"></i>
					Facebook
				</a>
				<a href="#" class="social-item bg-twitter">
					<i class="fab fa-twitter" aria-hidden="true"></i>
					Twitter
				</a>
				<a href="#" class="social-item bg-dribbble">
					<i class="fab fa-dribbble" aria-hidden="true"></i>
					Dribbble
				</a>
			</div>
			
			
			<!-- ... end W-Socials -->
		</div>
	</div>

</template>

<script>

</script>

<style>
	
</style>