<template>
	
	<div class="ui-block">
		<div class="ui-block-title">
			<h6 class="title">Campustalkative tv</h6>
		</div>
		<div class="ui-block-content">

			<!-- W-Latest-Video -->
			
			<ul class="widget w-last-video">
				<li>
					<a href="https://vimeo.com/ondemand/viewfromabluemoon4k/147865858" class="play-video play-video--small">
						<svg class="olymp-play-icon">
							<use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-play-icon"></use>
						</svg>
					</a>
					<img src="olympus/img/video8.jpg" alt="video">
					<div class="video-content">
						<div class="title">System of a Revenge - Hypnotize...</div>
						<time class="published" datetime="2017-03-24T18:18">3:25</time>
					</div>
					<div class="overlay"></div>
				</li>
				<li>
					<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video play-video--small">
						<svg class="olymp-play-icon">
							<use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-play-icon"></use>
						</svg>
					</a>
					<img src="olympus/img/video7.jpg" alt="video">
					<div class="video-content">
						<div class="title">Green Goo - Live at Dan’s Arena</div>
						<time class="published" datetime="2017-03-24T18:18">5:48</time>
					</div>
					<div class="overlay"></div>
				</li>
			</ul>
			
			<!-- .. end W-Latest-Video -->
		</div>
	</div>

</template>

<script>
	
</script>

<style>

</style>