<template>
<div class="ui-block">
    <div class="ui-block-title">
	    <h6 class="title">Friends (86)</h6>
	</div>
		<div class="ui-block-content">

			<!-- W-Faved-Page -->
			
			<ul class="widget w-faved-page js-zoom-gallery">
				<li>
					<a href="#">
						<img src="olympus/img/avatar38-sm.jpg" alt="author">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="olympus/img/avatar24-sm.jpg" alt="user">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="olympus/img/avatar36-sm.jpg" alt="author">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="olympus/img/avatar35-sm.jpg" alt="user">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="olympus/img/avatar34-sm.jpg" alt="author">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="olympus/img/avatar33-sm.jpg" alt="author">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="olympus/img/avatar32-sm.jpg" alt="user">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="olympus/img/avatar31-sm.jpg" alt="author">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="olympus/img/avatar30-sm.jpg" alt="author">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="olympus/img/avatar29-sm.jpg" alt="user">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="olympus/img/avatar28-sm.jpg" alt="user">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="olympus/img/avatar27-sm.jpg" alt="user">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="olympus/img/avatar26-sm.jpg" alt="user">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="olympus/img/avatar25-sm.jpg" alt="user">
					</a>
				</li>
				<li class="all-users">
					<a href="#">+74</a>
				</li>
		    </ul>
			
			<!-- .. end W-Faved-Page -->
	    </div>
</div>
</template>

<script>

</script>

<style>

</style>