<template>
	
	<div class="ui-block">
		<div class="ui-block-title">
			<h6 class="title">Your Communities</h6>
		</div>

		<!-- W-Playlist -->
		
		<ol class="widget w-playlist">
			<li class="js-open-popup" data-popup-target=".playlist-popup">
				<div class="playlist-thumb">
					<img src="olympus/img/playlist7.jpg" alt="thumb-composition">
					<div class="overlay"></div>
					<a href="#" class="play-icon">
						<svg class="olymp-music-play-icon-big">
							<use xlink:href="olympus/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use>
						</svg>
					</a>
				</div>
		
				<div class="composition">
					<a href="#" class="composition-name">The Pretender</a>
					<a href="#" class="composition-author">Kung Fighters</a>
				</div>
		
				<div class="composition-time">
					<time class="published" datetime="2017-03-24T18:18">5:48</time>
					<div class="more">
						<svg class="olymp-three-dots-icon">
							<use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
						</svg>
						<ul class="more-dropdown">
							<li>
								<a href="#">Add Song to Player</a>
							</li>
							<li>
								<a href="#">Add Playlist to Player</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ol>
		
		<!-- .. end W-Playlist -->
	</div>

</template>

<script>
	
</script>

<style>

</style>