<template>
    <div>
    <sweet-modal ref="modal">
    <sweet-modal-tab title="Tab 1" id="tab1">Contents of Tab 1</sweet-modal-tab>
    <sweet-modal-tab title="Tab 2" id="tab2">Contents of Tab 2</sweet-modal-tab>
    <sweet-modal-tab title="Tab 3" id="tab3" disabled>Tab 3 is disabled
    </sweet-modal-tab>
    </sweet-modal>
    <button class="btn btn-primry btn-sm" @click='testModal'>Test</button> 
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },

        methods: {
            testModal: function(){
                this.$refs.modal.open()
            }
        }

    }
</script>
