<template>
	<h4> {{ title | filterOne }} </h4>
</template>

<script>
	
	export default{
		data(){
			return {
				title: 'campustalkative'
			}
		},
		filters:{
			filterOne: function(value)
			{
				if(value){
					return value.charAt(0).toUpperCase() + value.slice(1)
				}else{
					return ''
				}
			}
		}
	}


</script>