<template>
  <section class="blog-post-wrap medium-padding80">
	<div class="container">
		<div class="row">

			<div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">

				<div class="ui-block">
					<!-- Post -->
					<article class="hentry blog-post blog-post-v3" v-for="(post, index) in posts">

						<div class="post-thumb">
							<img v-if="post.image" v-for="img in post.image" :src="paths.image+img" alt="ct blog photo">
							<a href="#" class="post-category bg-blue-light">{{post.category.name}}</a>
						</div>

						<div class="post-content">

							<div class="author-date">
								by
								<a class="h6 post__author-name fn" href="#">{{post.user.username}}</a>
								<div class="post__date">
									<timeago :datetime="post.created_at" :auto-update="60"></timeago>
								</div>
							</div>

							<a :href="'post/'+post.id" class="h3 post-title">{{post.title}}</a>
							<p>
                {{ post.body | formatBody }}
							</p>

              <ul class="list-inline">
        				<a href="#" class="list-inline-item disabled" style="cursor:pointer">
        					<span class="icon-add without-text">
                              <svg class="olymp-happy-face-icon">
                                <use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-happy-face-icon">
                                </use>
                              </svg>
                            </span>
        					<span>{{ post.smile | getPostSmiles }}</span>
        				</a>
        				<a class="list-inline-item" style="color: #ae333f;float:right;cursor:pointer">
        					<i style="font-size: 20px" class="fa fa-comments"></i>
        					<span>{{post.comment.length}}</span>
        				</a>
        		  </ul>
              <p v-if="post.body.length > 100">
                <a :href="'post/'+post.id" class="btn btn-md-2 btn-primary mb-0">
              		Read More
              	</a>
              </p>
						</div>

					</article>

					<!-- ... end Post -->

				</div>


				<!-- Pagination -->

				<nav aria-label="Page navigation">
					<ul class="pagination justify-content-center">
						<li class="page-item" :class="[{disabled: !postObj.prev_page_url}]">
							<a @click="fetchPosts(postObj.prev_page_url)" class="page-link" href="#" tabindex="-1">Previous</a>
						</li>
						<li class="page-item" :class="[{disabled: !postObj.next_page_url}]">
							<a @click="fetchPosts(postObj.next_page_url)" class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>

				<!-- ... end Pagination -->
			</div>

      <!-- <featured-posts></featured-posts> -->

		</div>
	</div>
</section>



<!-- Section Call To Action Animation -->

</template>

<script>
import FeaturedPosts from './FeaturedPosts.vue'
  export default{
    data(){
      return{
        posts: [],
        postObj: null,
        paths: {
          image: 'storage/image/',
          audio: 'storage/audio/',
          video: 'storage/video',
        },
      }
    },
    methods: {
      fetchPosts: function(page_url){
        var next_page_url = page_url || 'get_blog_posts';
        axios.get(next_page_url).then(res=>{
          this.posts = res.data.data
          this.postObj = res.data
          for(var i = 0; i < this.posts.length; i++){
              	if (this.posts[i].audio != null) {
              		this.posts[i].audio = this.posts[i].audio.split(',')
              	}
              	if (this.posts[i].video != null) {
              		this.posts[i].video = this.posts[i].video.split(',')
              	}
              	if (this.posts[i].image != null) {
              		this.posts[i].image = this.posts[i].image.split(',')
              	}
              }
        })
      }
    },
    created(){
        this.fetchPosts()
    },
    filters: {
        getPostSmiles: function(value){
          if (value == null) {
            return 0;
          }else{
            if (typeof value === 'number') {
            value = value.toString();
        }
              return value.split(',').length
          }
        },
        formatBody: function(value){
          if(value.length < 100){
            return value
          }
          return value.substr(1, 100)+'...'
        }
    },
    components:{
      'featured-posts': FeaturedPosts
    }
  };
</script>

<style media="screen" scoped>

</style>
