<template>

  <div class="container">
  <div class="row mt50">
    <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
      <div class="ui-block mb60">
        <!-- Single Post -->
        <article class="hentry blog-post single-post single-post-v3">

          <a href="#" class="post-category bg-primary">CAMPUSTALKATIVE NEWS</a>

          <ul class="list-inline">
    				<a href="#" class="list-inline-item disabled" style="cursor:pointer">
    					<span class="icon-add without-text">
                  <svg class="olymp-happy-face-icon">
                      <use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-happy-face-icon">
                      </use>
                  </svg>
              </span>
    					<span>{{ post.smile | getPostSmiles }}</span>
    				</a>
    				<a class="list-inline-item" style="color: #ae333f;float:right;cursor:pointer">
    					<i style="font-size: 20px" class="fa fa-comments"></i>
    					<span>{{post.comment.length}}</span>
    				</a>
    		  </ul>
          <h1 class="post-title">{{post.title}}</h1>

          <div class="author-date">
            <div class="author-thumb">
              <img alt="author" style="width: 50px;" :src="post.user.profile_photo" class="avatar">
            </div>
            by
            <a class="h6 post__author-name fn" href="#">{{post.user.fullname}}</a>
            <div class="post__date">
              <timeago :datetime="post.created_at" :auto-update="60"></timeago>
            </div>
          </div>

          <div class="post-thumb">
            <img v-if="post.image != null" v-for="img in post.image" :src="paths.image+img" alt="photo">
            <audio v-if="post.audio != null" v-for="audio in post.audio" controls>
              <source :src="paths.audio+audio" type="audio/*">
            </audio>
            <video v-if="post.video != null" v-for="video in post.video" controls>
              <source :src="paths.video+video" type="video/*">
            </video>
          </div>

          <div class="post-content-wrap">

            <div class="control-block-button post-control-button">
              <a href="#" class="btn btn-control has-i bg-facebook">
                <i class="fab fa-facebook-f" aria-hidden="true"></i>
              </a>

              <a href="#" class="btn btn-control has-i bg-twitter">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
            </div>

            <div class="post-content">
              <p>
                {{post.body}}
              </p>

            </div>
          </div>
        </article>

        <!-- ... end Single Post -->

      </div>

      <div class="crumina-module crumina-heading with-title-decoration">
        <h5 class="heading-title">Comments ({{post.comment.length}})</h5>
      </div>
      <comment-component :id="post.id"></comment-component>
    </div>
  </div>
</div>
</template>

<script>
import CommentComponent from '../post/CommentComponent.vue'
export default{
  props: ['id'],
  data(){
    return{
      post: null,
      paths: {
        image: 'storage/image/',
        audio: 'storage/audio/',
        video: 'storage/video',
      },
    }
  },
  components:{
    'comment-component': CommentComponent,
  },
  filters: {
      getPostSmiles: function(value){
        if (value == null) {
          return 0;
        }else{
          if (typeof value === 'number') {
          value = value.toString();
      }
            return value.split(',').length
        }
      }
    },
  created(){
    axios.get('/getSinglePost/'+this.id).then(res=>{
      this.post = res.data
      if (this.post.audio != null) {
        this.post.audio = this.post.audio.split(',')
      }
      if (this.post.video != null) {
        this.post.video = this.post.video.split(',')
      }
      if (this.post.image != null) {
        this.post.image = this.post.image.split(',')
        console.log(this.post.image)
      }
    }).catch(err=>console.log(err))
  }
};
</script>

<style>
</style>
