<template>
	<!-- ===========vue avatar edito================ -->
	<div>
      <vue-avatar
        :width=300
        :height=300
        ref="vueavatar"
        @vue-avatar-editor:image-ready="onImageReady"
        image=avatar_editor.tobe_edited
      >
      </vue-avatar>
      <br>
      <vue-avatar-scale
        ref="vueavatarscale"
        @vue-avatar-editor-scale:change-scale="onChangeScale"
        :width=250
        :min=1
        :max=3
        :step=0.02
      >
      </vue-avatar-scale>
      <p>click the box to select image</p>
      <br>
      <br>
      <img src="" id="img-1">
      <button v-on:click="saveClicked">save Image</button>
      <br><br>
    </div>
 <!-- =================vue avarta editor====================== -->
</template>

<script>
import Vue from 'vue'
import VueAvatar from '../../vue-avatar-editor/src/components/VueAvatar.vue'
import VueAvatarScale from '../../vue-avatar-editor/src/components/VueAvatarScale.vue'
export default{
  components: {
    VueAvatar,
    VueAvatarScale
  },
    methods:{
	    onChangeScale (scale) {
	       this.$refs.vueavatar.changeScale(scale)
	    },
    saveClicked(){
      var img = this.$refs.vueavatar.getImageScaled()
      this.$emit('imagesaved', {image: img.toDataURL()})
    },
    onImageReady(scale){
      this.$refs.vueavatarscale.setScale(scale)
    }
  }
};
</script>

<style>

</style>