<template>
	<header-buttons-component></header-buttons-component>
</template>

<script>

import HeaderButonsComponent from './Buttons/HeaderButtonsComponent.vue';
export default {
	components: {
         'header-buttons-component': HeaderButonsComponent,
	}
};

</script>