<template>
	<!-- Header-BP -->

<header class="header" id="site-header">

	<div class="page-title">
		<h6>campustalkative</h6>
	</div>

	<div class="header-content-wrapper">
		
		<!-- =======search campustalkative component========= -->

		<!-- <a href="#" class="link-find-friend">Find Friends</a> -->

		<div class="control-block">

		<!-- ==============suggested users to watch  watchUsersComponent=============-->
	<watch-users-component @countWatch="updateCount($event)"></watch-users-component>
		<!-- ==============suggested users to watch  watchUsersComponent=============-->

           <!-- ===========notifications component============= -->

           <!-- ===========user account component=========== -->
           <user-account-component></user-account-component>
           <!-- ===========user account component=========== -->

		</div>
	</div>

</header>

<!-- ... end Header-BP -->

</template>

<script>
//imports
import WatchUsersComponent from './LargeNav/WatchUsersComponent.vue'
import UserAccountComponent from './LargeNav/UserAccountComponent.vue'

export default {

  name: 'LargeViewComponent',

  data() {
    return {

    };
  },
  components: {
  	'watch-users-component' : WatchUsersComponent,
  	'user-account-component' : UserAccountComponent,
  },
};
</script>

<style lang="css" scoped>
</style>
