<template>
	<header class="header header-responsive" id="site-header-responsive">
 <!-- >>>>>>>>>mobile view <<<<<<<<<<<<<<<<-->
	<div class="header-content-wrapper">
		<!-- mobile view icons -->
		<ul class="nav nav-tabs mobile-app-tabs" role="tablist">
			<li class="nav-item">
				<a @click="toggleShow('w')" class="nav-link" data-toggle="tab" href="#request" role="tab">
					<div class="control-icon has-items">
						<svg class="olymp-happy-face-icon"><use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
						<div class="label-avatar bg-blue">{{watchCount}}</div>
					</div>
				</a>
			</li>

			<li @click="toggleShow('l')" class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#loading" role="tab">
					<div class="control-icon has-items">
						<svg class="olymp-thunder-icon">
							<use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-thunder-icon">
							</use></svg>
						<div class="label-avatar bg-primary">0</div>
					</div>
				</a>
			</li>

			<li @click="toggleShow('l')" class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#loading" role="tab">
					<svg class="olymp-magnifying-glass-icon">
						<use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
					<svg class="olymp-close-icon">
						<use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-close-icon">
						</use></svg>
				</a>
			</li>
		</ul>
	</div>

	<!-- Tab panes -->
	<div class="tab-content tab-content-responsive">

		<!-- ==============suggested users to watch  watchUsersComponent=============-->
		<watch-users-component @countWatch="updateCount($event)"></watch-users-component>
		<!-- ==============suggested users to watch  watchUsersComponent=============-->

		<!-- =================notifications==================== -->
      <loading-component></loading-component>
         <!-- ==================search component============ -->

	</div>
	<!-- ... end  Tab panes -->

</header>
</template>

<script>
import WatchUsersComponent from './nav/WatchUsersComponent.vue'
import LoadingComponent from './nav/LoadingComponent.vue'

export default {

  name: 'MobileViewHeader',

  data() {
    return {
         watchCount: 10,
    };
  },
  components: {
  	'watch-users-component' : WatchUsersComponent,
		'loading-component' : LoadingComponent,
  },
  methods: {
  	toggleShow: function(v){
			if(v == 'w'){
				$('div#request').toggle();
			}else{
				$('div#loading').toggle();
			}

  	},
  	updateCount: function(count){
  		this.watchCount = count
  		console.log(count + ' kkkkkkkkkkkkk')
  	}
  }
};
</script>

<style lang="css" scoped>
</style>
