<template>
	<div>

    <sweet-modal ref="modal" hide-close-button overlay-theme="dark" modal-theme="dark">
	<div class="container-fluid" v-if="new_dataMode">
	 <div class="row">
		  <h3>Just a few seconds... please setup your account</h3>
			<div class="col-md-5">
				<div class="form-group label-floating">
					<label class="control-label">Country</label>
					<select @change="setValue($event, 'c')">
						<option value="">........</option>
						<option v-for="country in countries" :value="country.id">{{country.country}}</option>
					</select>
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group label-floating">
					<label class="control-label">School</label>
					<select @change="setValue($event, 's')">
						<option value="">........</option>
						<option v-for="school in schools" :value="school.id">{{school.school}}</option>
					</select>
					</datalist>
				</div>
			</div>
			<div class="col-md-12">
			<h4> Birthday </h4>
			</div>
			<div class="col-md-5">
				<div class="form-group label-floating">
					<label class="control-label">Year</label>
					<select @change="setValue($event, 'y')">
                        <option value="">..........</option>
						<option v-for="year in years" :value="year">{{year}}</option>
					</select>
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group label-floating">
					<label class="control-label">Month</label>
					<select @change="setValue($event, 'm')">
						<option value="">.........</option>
						<option v-for="month in months" :value="month">{{month}}</option>
					</select>
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group label-floating">
					<label class="control-label">Day</label>
					<select @change="setValue($event, 'd')">
						<option value="">........</option>
						<option v-for="day in days" :value="day">{{day}}</option>
					</select>
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<button @click.prevent="gotoPhaseTwo" class="btn btn-md-2 btn-primary">Continue
					&nbsp;<span class="fa fa-arrow-right"></span></button>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" v-if="secondPhaseMode">
	 <div class="row">
	 	<div class="col-md-12">
	 	<h2>Social</h2>
	    </div>
			<div class="col-md-12">
				<div class="form-group label-floating">
					<label class="control-label">Facebook</label>
					<div class="input-group">
				        <div class="input-group-prepend">
				          <div class="input-group-text">https://facebook.com/</div>
				        </div>
				        <input @change="setValue($event, 'f')" type="text" class="form-control">
                    </div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group label-floating">
					<label class="control-label"></label>
					<div class="input-group">
				        <div class="input-group-prepend">
				          <div class="input-group-text">https://instagram.com/</div>
				        </div>
				        <input @change="setValue($event, 'i')" type="text" class="form-control">
                    </div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group label-floating">
					<label class="control-label"></label>
					<div class="input-group">
				        <div class="input-group-prepend">
				          <div class="input-group-text">https://twitter.com/</div>
				        </div>
				        <input @change="setValue($event, 't')" type="text" class="form-control">
                    </div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group label-floating">
					<label class="control-label">Your skills</label>
					<textarea id="update" class="form-control" @change="setValue($event,'skill')"></textarea>
					<p class="small">Your skills seperated by <strong>,</strong></p>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group label-floating">
					<label class="control-label">About You</label>
					<textarea id="update" class="form-control" @change="setValue($event, 'abt')"></textarea>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<button @click.prevent="gotoPhaseThree" class="btn btn-md-2 btn-primary">Continue
					&nbsp;<span class="fa fa-arrow-right"></span></button>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" v-if="thirdPhaseMode">
	 <div class="row">
	 	<h4>Profile Picture</h4>
			<div class="col-md-5">
				<crop-image @imagesaved="setValue($event, 'pp')"></crop-image>
				<img :src="new_data.cropped_image">
				<br><br>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<button @click.prevent="FinishSetup" class="btn btn-md-2 btn-primary">Finish
					&nbsp;<span class="fa fa-arrow-right"></span></button>
				</div>
			</div>
			 </div>
		  </div>
		  <div id="overlay-div" style="display: none;">
	        <div class="overlay"></div>
	        <i id="spinner" class="fa fa-spinner fa-spin" style="font-size: 50px; color: white;"></i>
          </div>
    </sweet-modal>

    </div>
</template>

<script>
import CropImageComponent from './CropImageComponent.vue'
	export default{
		data(){
	     return {
	     	new_dataMode: true,
	     	secondPhaseMode: false,
	     	thirdPhaseMode: false,
	     	countries: [],
	     	schools: [],
	     	showcanvasbutton: false,
            months: ['January','February','March','April','May','June','July','August','September','October','November','December'],
            days: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31],
            years: [2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990,1989,1987,1986,1985,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975,1974,1973,1972,1971,1970],
            new_data: {
	     	    cropped_image: null,
            	school: null,
            	country: null,
            	year: null,
            	month: null,
            	day: null,
            	facebook: null,
            	twitter: null,
            	instagram: null,
            	skills: null,
            	about: null
            },
	     };
		},
		components: {
			'crop-image': CropImageComponent,
		},
		mounted(){
			//open the modal
			this.$refs.modal.open()
			//get the schools
			axios.get('schools').then(response => {
				this.schools = response.data;
			})
			//get the coutries
			axios.get('countries').then(response => {
				this.countries = response.data;
			})

		},
		methods:{
           setValue(e, c){
           	if(c == 'c'){
           		this.new_data.country = e.target.value;
           	}
           	if(c == 's'){
           		this.new_data.school = e.target.value;
           	}
           	if(c == 'y'){
           		this.new_data.year = e.target.value;
           	}
           	if(c == 'm'){
           		this.new_data.month = e.target.value;
           	}
           	if(c == 'd'){
           		this.new_data.day = e.target.value;
           	}
           	if(c == 'f'){
           		this.new_data.facebook = e.target.value;
           	}
           	if(c == 't'){
           		this.new_data.twitter = e.target.value;
           	}
           	if(c == 'i'){
           		this.new_data.instagram = e.target.value;
           	}
           	if(c == 'pp'){
           		this.new_data.cropped_image = e.image;
           	}
           	if(c == 'skill'){
           		this.new_data.skills = e.target.value;
           	}
           	if(c == 'abt'){
           		this.new_data.about = e.target.value;
           	}
           },
           gotoPhaseThree: function(){
                 this.secondPhaseMode = false
                 this.thirdPhaseMode = true
           },
           gotoPhaseTwo: function(){
           	if(this.new_data.country == null){
           		this.toaster('please Select a country', 'et-alert')
           	}
           	else if(this.new_data.school == null){
           		this.toaster('please Select a school', 'et-alert')
           	}
           	else if(this.new_data.year == null){
           		this.toaster('please Select a year of birth', 'et-alert')
           	}
           	else if(this.new_data.month == null){
           		this.toaster('please Select a month of birth', 'et-alert')
           	}
           	else if(this.new_data.day == null){
           		this.toaster('please Select a day of birth', 'et-alert')
           	}else{
           		this.new_dataMode = false;
                 this.secondPhaseMode = true;
           	}
           },
           toaster: function(message, toast_class){
            Vue.toast(message, {
            id: 'my-toast',
            parent: '#app',
            className: [toast_class],
            horizontalPosition: 'center',
            verticalPosition: 'bottom',
            duration: 5000,
            mode: 'queue',
            transition: 'slide down'
           })
          },

          FinishSetup: function(){
          	$('div#overlay-div').show();
             var fd = new FormData();
           	 var dateofbirth = this.new_data.year+','+this.new_data.month+','+this.new_data.day
           		fd.append('school_id', this.new_data.school)
           		fd.append('country_id', this.new_data.country)
           		fd.append('dateofbirth', dateofbirth)
           		fd.append('about', this.new_data.about)
           		fd.append('skills', this.new_data.skills)
           		fd.append('twitter_link', this.new_data.twitter)
           		fd.append('facebook_link', this.new_data.facebook)
           		fd.append('instagram_link', this.new_data.instagram)
           		fd.append('profile_picture', this.new_data.cropped_image)

           		axios.post('update_profile', fd).then(res => {
           			$('div#overlay-div').hide();
           			//close the modal
			       this.$refs.modal.close()
			       this.toaster('You have seup Your account Successfull!', 'et-info')
						 location.reload();
           		}).catch(err => {
								this.toaster('Server Error Please Try again')
           			this.$refs.modal.close();
           		})
          }
      }
	};
</script>

<style scoped>
   .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff5e3a;
    opacity: 0.5;
   }
   #spinner{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%)
   }
</style
