<template>

<!-- Comments -->
	<div>
	<ul class="comments-list" v-for="(comment, index) in comments">
		<li class="comment-item has-children">
			<div class="post__author author vcard inline-items">
				<img :src="comment.user.profile_photo" alt="author">
				<div class="author-date">
					<a class="h6 post__author-name fn" href="#">{{ comment.user.username }}</a>
					<div class="post__date">
						<time class="published">
							<timeago :datetime="comment.created_at" :auto-update="60"></timeago>
						</time>
					</div>
				</div>
	
				<a href="#" class="more">
					<svg class="olymp-three-dots-icon">
						<use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
					</svg>
				</a>
	
			</div>
	
			<p>
				{{ comment.comment }}
			</p>
	
			<a :class="{ user_has_smiled: has_smiled(comment.smile) }" @click.prevent="SmileComment(comment.id, index, 'comment')" href="#" class="post-add-icon inline-items">
				<i class="fa fa-smile"></i>
				<span>{{ comment.smile | filterSmile }}</span>
			</a>
			<a href="#" @click.prevent="openReplyModal(comment.id, index)" class="reply">Reply</a>

		</li>
	</ul>
	
	<!-- ... end Comments -->
	<a v-if="total_comments.length > 1" href="#" @click.prevent="pushComments()" class="more-comments">
		View {{ total_comments.length - comments.length}} more comments <span>+</span></a>

	<!-- Comment Form  -->

 <form @submit.prevent="postComment" class="comment-form inline-items">

	<div class="post__author author vcard inline-items">
		<img src="authUserPhoto" alt="author">

		<div class="form-group with-icon-right ">
			<textarea id="comment" class="form-control" placeholder=""></textarea>
		</div>
	</div>

	<button class="btn btn-md-2 btn-primary mb-0">
		<i class="fa fa-location-arrow"></i>
	</button>

</form>
<!-- ... end Comment Form  -->

<!-- reply modal -->
<sweet-modal ref="modal">
	<h2>{{current_comment }}</h2>
 <ul class="children" v-for="(reply, index) in replies">
	<li class="comment-item">
		<div class="post__author author vcard inline-items">
			<img :src="reply.user.profile_photo" alt="author">
			<div class="author-date">
				<a class="h6 post__author-name fn" href="#">
					{{reply.user.username}}
				</a>
				<div class="post__date">
					<time class="published">
						<timeago :datetime="reply.created_at"></timeago>
					</time>
				</div>
			</div>
	
			<a href="#" class="more">
				<svg class="olymp-three-dots-icon">
				    <use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
			    </svg>
			</a>
	
		</div>
	
		<p>{{reply.comment}}</p>
	
		<a href="#" :class="{ user_has_smiled: has_smiled(reply.smile) }" @click="SmileComment(reply.id, index, 'reply')" class="post-add-icon inline-items">
			<i id="smile_icon" class="fa fa-smile" style="font-size: 20px;"></i>
			<span>{{ reply.smile | filterSmile }}</span>
		</a>
	</li>
</ul>
<a v-if="total_replies.length > 1" 
	href="#" @click.prevent="pushReplies()" 
	class="more-comments">
View {{ total_comments.length - comments.length}} more comments <span>+</span></a>

 <form @submit.prevent="postReply($event)" class="comment-form inline-items">
	<div class="post__author author vcard inline-items">
		<img :src="authUserPhoto" alt="author">
		<div class="form-group with-icon-right ">
			<textarea id="comment" class="form-control" placeholder=""></textarea>
		</div>
	</div>
	<button class="btn btn-md-2 btn-primary mb-0">
		<i class="fa fa-reply"></i>
	</button>

</form>
</sweet-modal>
<!-- reply modal -->

	</div>
</template>

<script>

export default{
	props: ['id'],
	data(){
		return {
			current_comment: null,
			current_comment_id: null,
			replies: [],
			total_replies: [],
			comments: [],
			loadmore: false,
			total_comments: [],
      authUserPhoto: window.laravel.user_photo,
		}
	},
   mounted(){
   		axios.get('comment/'+this.id).then(res => {
   			this.total_comments = res.data
   			this.pushComments();
   		})
   },
   methods: {
   	    pushComments: function(){
   	    	var start = this.comments.length - 1
   	    	var stop = this.comments.length + 3;
   	    	if(this.total_comments.length < stop){
   	    		stop = this.total_comments.length;
   	    	}
   	    	if (!this.comments.length) {
   	    		start = 0
   	    	}
   	    	for(var i = start; i < stop; i++){
               this.comments.push(this.total_comments[i])
   	    	}
   	    },
   	    pushReplies: function(){
   	    	var start = this.replies.length - 1
   	    	var stop = this.replies.length + 10;
   	    	if(this.total_replies.length < stop){
   	    		stop = this.total_replies.length;
   	    	}
   	    	if (!this.replies.length) {
   	    		start = 0
   	    	}
   	    	for(var i = start; i < stop; i++){
               this.replies.push(this.total_replies[i])
   	    	}
   	    },
   	    has_smiled: function(value){
    		if(value == null){
    			return false;
    		}else{
    			if(typeof value === 'number'){
    				value = value.toString()
    				console.log(value+ ' number')
    			}
    			var val = value.split(',')
    			if (val.indexOf(window.laravel.userId) != -1) {
    				return true
    			}
    				return false;

    		}
    	},
   	    postComment: function(e){
   	    	var comment = e.target[0].value
   	    	axios.post('comment', {'comment': comment, 'type': 'comment', 'post_id': this.id})
   	    	.then(res => {
   	    		var comment = $('textarea#comment').val('');
   	    		this.comments = res.data
   	    	}).catch(err => {
   	    		console.log(err)
   	    	})
   	    },
   	    openReplyModal: function(id, index){
   	    	this.$refs.modal.open()
   	    	this.current_comment = this.comments[index].comment
   	    	axios.get('comments/replies/'+id).then(res => {
   	    		this.total_replies = res.data
   	    		this.current_comment_id = id
   	    		this.pushReplies()
   	    	}).catch(err=>{
   	    		console.log(err)
   	    	})
   	    },
   	    postReply: function(e){
   	    	var comment = e.target[0].value
   	    	axios.post('comment', {'comment': comment, 'type': 'reply', 'comment_id': this.current_comment_id})
   	    	     .then(res=> {
   	    	     	this.replies = res.data
   	    	     	comment = '';
   	    	     }).catch(err=>{
   	    	     	console.log(err)
   	    	     })
   	    },
   	    SmileComment: function(id, index, is_comment){
   	    	var is_what;
   	    	if(is_comment == 'comment'){
   	    		is_what = this.comments
   	    	}else{
   	    		is_what = this.replies
   	    	}
   	    	axios.put('comment/'+id).then(res=>{
   	    		this.has_smiled(res.data)
                is_what[index].smile = res.data
   	    	}).catch(err=>{
   	    		console.log(err)
   	    	})
   	    },
   	    
   },
   filters: {
        filterSmile: function(value){
        	if (value == null) {
        		return 0;
        	}else{
        		if (typeof value === 'number') {
				    value = value.toString();
				}
              return value.split(',').length
        	}
        }
    },
};
	
</script>

<style>

</style>