<template>
	<div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
		<div id="newsfeed-items-grid">
	<div class="ui-block">
		<!-- Post -->
		<article v-if="posts.length" class="hentry post" v-for="(post,index) in posts">

			<div class="post__author author vcard inline-items">
				<!-- <img :src="post.user.profile_photo" alt="author"> -->

				<div class="author-date">
					<a class="h6 post__author-name fn" :href="post.user.username">
					    {{post.user.username}}
				    </a>
					<div class="post__date">
						<time class="published" datetime="2017-03-24T18:18">
							<timeago :datetime="post.created_at" :auto-update="60"></timeago>
						</time>
					</div>
				</div>

				<div class="more">
					<svg class="olymp-three-dots-icon">
						<use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
					</svg>
					<!-- <ul class="more-dropdown">
						<li>
							<a href="#">Edit Post</a>
						</li>
						<li>
							<a href="#">Delete Post</a>
						</li>
						<li>
							<a href="#">Turn Off Notifications</a>
						</li>
						<li>
							<a href="#">Select as Featured</a>
						</li>
					</ul> -->
				</div>
			</div>
			<p>{{ post.body }}
			</p>
			<div class="post-thumb">
				<img v-if="post.image != null" v-for="img in post.image" :src="paths.image+img" alt="photo">
				<audio v-if="post.audio != null" v-for="audio in post.audio" controls>
					<source :src="paths.audio+audio" type="audio/*">
				</audio>
				<video v-if="post.video != null" v-for="video in post.video" controls>
					<source :src="paths.video+video" type="video/*">
				</video>
			</div>
			<ul class="list-inline">
				<a href="#" @click.prevent="smile(post.id, post.user.username, index)" class="list-inline-item" style="cursor:pointer" :class="[{ user_has_smiled: has_smiled(post.smile) }]">
					<span class="icon-add without-text">
                      <svg class="olymp-happy-face-icon">
                        <use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-happy-face-icon">
                        </use>
                      </svg>
                    </span>
					<span>{{ post.smile | getPostSmiles }}</span>
				</a>
				<a class="list-inline-item" style="color: #ae333f;float:right;cursor:pointer">
					<i style="font-size: 20px" class="fa fa-comments"></i>
					<span>{{post.comment.length}}</span>
				</a>
		  </ul>
			<!-- comment component -->
			<comment-component :id="post.id"></comment-component>
		</article>
		<!-- if they are no posts -->
		<p v-if="!posts.length">
			Ooops! seems niether you nor your watchers have posted anything yet!<br>
			Quickly click the button above to make your first post <br>
			or visit <a href="/blog"><strong>Campustalkative Blog</strong></a> to
			know whats trending in between <strong>Campuses and Youths</strong>
		</p>
		<!-- .. end Post -->
	</div>
</div>
<a @click.prevent="fetchPosts(postObj.next_page_url)"
   id="load-more-button" href="#"
	 class="btn btn-control btn-more"
	 data-load-link="items-to-load.html"
	 data-container="newsfeed-items-grid"
	 :class="[{disabled: !postObj.next_page_url}]">
	<svg class="olymp-three-dots-icon">
		<use xlink:href="olympus/svg-icons/sprites/icons.svg#olymp-three-dots-icon">
		</use>
	</svg>
</a>
</div>
</template>

<script>
import CommentComponent from './CommentComponent.vue'

 export default {
 	data(){
 		return {
			postObj: null,
 			posts: [],
 			paths: {
 				image: 'storage/image/',
 				audio: 'storage/audio/',
 				video: 'storage/video',
 			},
 		};
 	},
    created(){
			this.fetchPosts();
		},
    filters: {
        getPostSmiles: function(value){
        	if (value == null) {
        		return 0;
        	}else{
        		if (typeof value === 'number') {
				    value = value.toString();
				}
              return value.split(',').length
        	}
        }
    },
    components: {
    	'comment-component': CommentComponent,
    },
    methods: {
			fetchPosts: function(page_url){
				var next_page_url = page_url || 'post';
				axios.get(next_page_url).then(res => {
					this.posts = res.data.data
					console.log(this.posts);
					this.postObj = res.data
					for(var i = 0; i < this.posts.length; i++){
								if (this.posts[i].audio != null) {
									this.posts[i].audio = this.posts[i].audio.split(',')
								}
								if (this.posts[i].video != null) {
									this.posts[i].video = this.posts[i].video.split(',')
								}
								if (this.posts[i].image != null) {
									this.posts[i].image = this.posts[i].image.split(',')
								}
							}
				}).catch(err => {
					console.log(err)
				});
			},
    	smile: function(id, username, index){
    		this.smile_loading = true
    		this.smile_default = false
    		if(username === window.laravel.username){
    			var user = 'your'
    		}else{
    			var user = username+"'s"
    		}
            this.toasted('please wait....','info',null);
            axios.put('post/'+id, {type: 'smile'})
                      .then(res => {
                      	this.posts[index].smile = res.data
                      	this.has_smiled(res.data)
                      	this.$toasted.clear()
                        if(this.has_smiled(res.data)){
                          this.toasted('You Already smiled on '+user+' post', 'info', 5000)
                        }else{
                      	this.toasted('You smiled on '+user+' post','success',5000);
                        }
                      }).catch(err => {
                      	console.log(err)
                      })
    	},
    	toasted: function(message,type,duration){
    		this.$toasted.show(message, {
				 theme: "primary",
				 position: "top-right",
				 duration : duration,
				 iconPack: 'fontawesome',
				 type: type,
			})
    	},
    	has_smiled: function(value){
    		if(value == null){
    			return false;
    		}else{
    			if(typeof value === 'number'){
    				value = value.toString()
    			}
    			var val = value.split(',')
    			if (val.indexOf(window.laravel.userId) != -1) {
    				return true
    			}
    				return false;

    		}
    	}
    }
};

</script>

<style>
  .user_has_smiled{
  	color: #ae333f;
  }
  a#smile_icon:hover{
  	font-size: 50px;
  }
</style>
